service/src/main/resources/org/n52/subverse/wsdl/SubscriptionManager-template.xml

<wsdl:definitions xmlns:pubsub="http://www.opengis.net/pubsub/1.0"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:essf="http://www.opengis.net/es-sf/0.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl-soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2"
                  xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
                  xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
                  xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
                  xmlns:wsrmd="http://docs.oasis-open.org/wsrf/rmd-1"
                  xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2"
                  xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2"
                  xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
                  xmlns:wsn-t="http://docs.oasis-open.org/wsn/t-1"
                  xmlns:muws1="http://docs.oasis-open.org/wsdm/muws1-2.xsd"
                  xmlns:muws2="http://docs.oasis-open.org/wsdm/muws2-2.xsd"
                  xmlns:sml="http://www.opengis.net/sensorML/1.0.1"
                  xmlns:ows="http://www.opengis.net/ows/1.1"
                  targetNamespace="http://www.opengis.net/pubsub/1.0"
                  name="SubscriptionManager">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace">
            <xsd:include schemaLocation="${serviceUrl}/schemas/XML-Namespace-1998.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/08/addressing">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-Addressing-2005_08.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-MetadataExchange-2004_09.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/rl-2">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-ResourceLifetime-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/rp-2">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-ResourceProperties-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/r-2">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-Resource-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/rmd-1">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-ResourceMetadataDescriptor-CD-01.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsdm/muws1-2.xsd">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WSDM-MUWS-Part1-1_1.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsdm/muws2-2.xsd">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WSDM-MUWS-Part2-1_1.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/b-2">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-BaseNotification-1_3.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/t-1">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-Topics-1_3.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/br-2">
            <xsd:include schemaLocation="${serviceUrl}/schemas/WS-BrokeredNotification-1_3.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ResourceUnknownFault">
        <wsdl:part element="wsrf-r:ResourceUnknownFault" name="ResourceUnknownFault"/>
    </wsdl:message>
    <wsdl:message name="ResourceUnavailableFault">
        <wsdl:part element="wsrf-r:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
    </wsdl:message>
    <wsdl:message name="SetTerminationTimeRequest">
        <wsdl:part element="wsrf-rl:SetTerminationTime" name="SetTerminationTimeRequest"/>
    </wsdl:message>
    <wsdl:message name="SetTerminationTimeResponse">
        <wsdl:part element="wsrf-rl:SetTerminationTimeResponse" name="SetTerminationTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="SubscribeRequest">
        <wsdl:part element="wsn-b:Subscribe" name="SubscribeRequest"/>
    </wsdl:message>
    <wsdl:message name="SubscribeResponse">
        <wsdl:part element="wsn-b:SubscribeResponse" name="SubscribeResponse"/>
    </wsdl:message>
    <wsdl:message name="SubscribeCreationFailedFault">
        <wsdl:part element="wsn-b:SubscribeCreationFailedFault" name="SubscribeCreationFailedFault"/>
    </wsdl:message>
    <wsdl:message name="DestroyRequest">
        <wsdl:part element="wsrf-rl:Destroy" name="DestroyRequest"/>
    </wsdl:message>
    <wsdl:message name="DestroyResponse">
        <wsdl:part element="wsrf-rl:DestroyResponse" name="DestroyResponse"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeRequest">
        <wsdl:part element="wsn-b:Unsubscribe" name="UnsubscribeRequest"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeResponse">
        <wsdl:part element="wsn-b:UnsubscribeResponse" name="UnsubscribeResponse"/>
    </wsdl:message>
    <wsdl:message name="PauseSubscriptionRequest">
        <wsdl:part element="wsn-b:PauseSubscription" name="PauseSubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="ResumeFailedFault">
        <wsdl:part element="wsn-b:ResumeFailedFault" name="ResumeFailedFault"/>
    </wsdl:message>
    <wsdl:message name="PauseFailedFault">
        <wsdl:part element="wsn-b:PauseFailedFault" name="PauseFailedFault"/>
    </wsdl:message>
    <wsdl:message name="PauseSubscriptionResponse">
        <wsdl:part element="wsn-b:PauseSubscriptionResponse" name="PauseSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="ResumeSubscriptionRequest">
        <wsdl:part element="wsn-b:ResumeSubscription" name="ResumeSubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="ResumeSubscriptionResponse">
        <wsdl:part element="wsn-b:ResumeSubscriptionResponse" name="ResumeSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="ResourceNotDestroyedFault">
        <wsdl:part element="wsrf-rl:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault"/>
    </wsdl:message>
    <wsdl:message name="UnableToSetTerminationTimeFault">
        <wsdl:part element="wsrf-rl:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault"/>
    </wsdl:message>
    <wsdl:message name="TerminationTimeChangeRejectedFault">
        <wsdl:part element="wsrf-rl:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyRequest">
        <wsdl:part element="wsrf-rp:GetResourceProperty" name="GetResourcePropertyRequest"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyResponse">
        <wsdl:part element="wsrf-rp:GetResourcePropertyResponse" name="GetResourcePropertyResponse"/>
    </wsdl:message>
    <wsdl:message name="InvalidResourcePropertyQNameFault">
        <wsdl:part element="wsrf-rp:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>
    </wsdl:message>
    <wsdl:message name="GetMultipleResourcePropertiesRequest">
        <wsdl:part element="wsrf-rp:GetMultipleResourceProperties" name="GetMultipleResourcePropertiesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMultipleResourcePropertiesResponse">
        <wsdl:part element="wsrf-rp:GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyDocumentRequest">
        <wsdl:part element="wsrf-rp:GetResourcePropertyDocument" name="GetResourcePropertyDocumentRequest"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyDocumentResponse">
        <wsdl:part element="wsrf-rp:GetResourcePropertyDocumentResponse" name="GetResourcePropertyDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="UnacceptableInitialTerminationTimeFault">
        <wsdl:part element="wsn-b:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidTopicExpressionFault">
        <wsdl:part element="wsn-b:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault"/>
    </wsdl:message>
    <wsdl:message name="TopicNotSupportedFault">
        <wsdl:part element="wsn-b:TopicNotSupportedFault" name="TopicNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="MultipleTopicsSpecifiedFault">
        <wsdl:part element="wsn-b:MultipleTopicsSpecifiedFault" name="MultipleTopicsSpecifiedFault"/>
    </wsdl:message>
    <wsdl:portType name="SubscriptionManager">
        <wsdl:operation name="Subscribe">
            <wsdl:input message="pubsub:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeRequest"/>
            <wsdl:output message="pubsub:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"/>
            <wsdl:fault message="pubsub:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="pubsub:InvalidTopicExpressionFault" name="InvalidTopicExpressionFault"/>
            <wsdl:fault message="pubsub:TopicNotSupportedFault" name="TopicNotSupportedFault"/>
            <wsdl:fault message="pubsub:UnacceptableInitialTerminationTimeFault" name="UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault message="pubsub:SubscribeCreationFailedFault" name="SubscribeCreationFailedFault"/>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <wsdl:input message="pubsub:UnsubscribeRequest" name="UnsubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest"/>
            <wsdl:output message="pubsub:UnsubscribeResponse" name="UnsubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeResponse"/>
            <wsdl:fault message="pubsub:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault"/>
            <wsdl:fault message="pubsub:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="pubsub:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
        </wsdl:operation>
        <wsdl:operation name="PauseSubscription">
            <wsdl:input message="pubsub:PauseSubscriptionRequest" name="PauseSubscriptionRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest"/>
            <wsdl:output message="pubsub:PauseSubscriptionResponse" name="PauseSubscriptionResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionResponse"/>
            <wsdl:fault message="pubsub:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="pubsub:PauseFailedFault" name="PauseFailedFault"/>
        </wsdl:operation>
        <wsdl:operation name="ResumeSubscription">
            <wsdl:input message="pubsub:ResumeSubscriptionRequest" name="ResumeSubscriptionRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest"/>
            <wsdl:output message="pubsub:ResumeSubscriptionResponse" name="ResumeSubscriptionResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionResponse"/>
            <wsdl:fault message="pubsub:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="pubsub:ResumeFailedFault" name="ResumeFailedFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="SubscriptionManagerBinding"
        type="pubsub:SubscriptionManager">
        <wsdl-soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Subscribe">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault use="encoded" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <wsdl-soap12:fault use="encoded" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <wsdl-soap12:fault use="encoded" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <wsdl-soap12:fault use="encoded" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <wsdl-soap12:fault use="encoded" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceNotDestroyedFault">
                <wsdl-soap12:fault name="ResourceNotDestroyedFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="PauseSubscription">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="PauseFailedFault">
                <wsdl-soap12:fault name="PauseFailedFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ResumeSubscription">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal" encodingStyle="http://www.w3.org/2003/06/wsdl/soap12/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResumeFailedFault">
                <wsdl-soap12:fault name="ResumeFailedFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SubscriptionManagerService">
        <wsdl:port name="SubscriptionManagerPort" binding="pubsub:SubscriptionManagerBinding">
            <wsdl-soap12:address location="${serviceUrl}/service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
